<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>421984983217-e31och1amuussmcbtuce8a88fm1h515s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421984983217-e31och1amuussmcbtuce8a88fm1h515s</string>
	<key>API_KEY</key>
	<string>AIzaSyAeVqwlQQoX1phqoJ0kKyKj3is1f2WJATs</string>
	<key>GCM_SENDER_ID</key>
	<string>421984983217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.solgis</string>
	<key>PROJECT_ID</key>
	<string>appsol-95fc5</string>
	<key>STORAGE_BUCKET</key>
	<string>appsol-95fc5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421984983217:ios:23333f50149fb70dc2aa90</string>
</dict>
</plist>